/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

input{
    width: 100%;
    padding: 12px 20px;
    margin-top: 2px;
    margin-bottom: 15px;
    display: inline-block;
    border: 1px solid rgb(200,200,200);
    box-sizing: border-box;
    border-radius: 5px;
}

.w60{
    width: 60px;
}

.h50{
    height: 50px;
}

.box{
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid rgb(200,200,200);
    border-radius: 5px;
    padding: 7%;
    box-shadow: 1px 1px 3px 3px rgb(200, 200, 200);
}

.bg{
    background-color: rgb(230, 230, 230);
}

.center{
    text-align: center;
}

th {
    cursor: pointer;
  }